<%- include('./partials/header')%>
<div class="container" style="width: auto; vertical-align:center; display:table;">
    <div class="row">

        <div>
            <div class="baslik"><% veri[0].forEach(function(kay覺t) { %>
                <h1 style="font-size: 25px; padding: 10px; text-align: center;"><%= kay覺t.baslikAdi %></h1>
                <% }); %>
            </div>
            <% veri[1].forEach(function(kay覺t) { %>
            <div style="width: 550px; padding: 10px; margin:10px; border: 1px solid teal; text-align: center;">
                <%= kay覺t.icerikAdi %></div>
            <% }); %>
        </div>

    </div>
</div>