<%- include('./partials/header')%>
<title>Dgs Konular覺</title>
<div class="container" style="width: auto; vertical-align:center; display:table;">
    <div class="row">
        <% veri.forEach(function(kay覺t) { %>
        <a href="/dgsKonu/<%= kay覺t.Id %>">
            <div
                style="width: 400px; padding: 10px; margin:10px; border: 1px solid teal; float: left; text-align: center;">
                <div style="padding-left:5px;"><%= kay覺t.dersAdi %></div>
            </div>
        </a>
        <% }); %>
    </div>
</div>
